.index-page > #toc {
  display: none !important;
}
.index-page .article {
  width: 100%;
  padding-left: 0;
}
.ui-menu {
  z-index: 2;
}
.index-help__wrap h2 {
  margin: 0 !important;
  margin-bottom: 16px !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.index-page .sidebar {
  display: none;
}
.index-help ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.index-help li a {
  text-decoration: none;
  color: #367EB2;
  display: inline-block;
  line-height: 130%;
}
.main-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #0A141E;
  margin-top: 0 !important;
}
.start__video-bg {
  max-width: 100%;
  height: auto;
}
.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 44px;
  margin-bottom: 50px;
}
.start__left-col {
  width: 24%;
}
.start__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #394149;

  margin-top: 0 !important;
  margin-bottom: 16px !important;
}
.start__item + .start__item {
  margin-top: 20px;
}
.start__center-col {
  width: 59%;
  padding-left: 34px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.start__video-bg {
  max-width: 100%;
  height: auto;
}
.video__container {
  margin-bottom: 10px;
  width: 45%;
}
.video__container:nth-of-type(odd) {
  margin-right: 24px;
}
.start__right-col {
  padding: 25px 17px 25px 24px;
  width: 17%;
  background: #F9F9F9;
  border-radius: 3px;
}
.start__item-examples {
  margin-bottom: 8px;
}

/*  */

.settings {
  margin-bottom: 50px;
}

.settings__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1328px;
}

.settings__item {
  width: 30%;
  line-height: 28px;
}

.settings__item:nth-of-type(2),
.settings__item:nth-of-type(5) {
  padding-left: 24px;
}

.settings__item:nth-of-type(3),
.settings__item:nth-of-type(6) {
  padding-left: 50px;
}

/*  */

.create {
  display: flex;
  flex-direction: row;
  max-width: 1328px;
}

.create__left-col {
  margin-right: 10px;
  width: 64%;
}

.create__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.create__item {
  width: 47%;
}

.create__item:nth-of-type(even) {
  padding-left: 24px;
}

.create__right-col {
  width: 30%;
}

.create__item-kb {
  margin-bottom: 25px;
  padding-left: 36px;
  position: relative;
}

.create__item-kb::before {
  position: absolute;
  left: 0;
  content: "";
  width: 32px;
  height: 32px;
  background: url('./scripts.svg') no-repeat center center;
  background-size: cover;
}

.create__item-kb--2::before {
  background-image: url('./forms.svg');
  background-repeat: no-repeat;
}

.create__item-kb--3::before {
  background-image: url('./news.svg');
  background-repeat: no-repeat;
}

.create__item-kb--4::before {
  background-image: url('./glossary.svg');
  background-repeat: no-repeat;
}
@media (max-width: 1320px) {
  .create__left-col {
    margin-right: 0;
  }
  .create__item {
    width: 46%;
  }
}
@media (max-width: 1200px) {
  .start {
    position: relative;
    padding-bottom: 250px;
  }
  .start__left-col {
    width: 30%;
  }
  .start__center-col {
    width: 70%;
  }
  .start__right-col {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}
@media (max-width: 900px) {
  .index-page .sidebar {
    display: block;
  }
}
@media (max-width: 768px) {
  .ui-menu {
    max-width: 70%;
  }
  .start {
    flex-direction: column;
    padding-bottom: 0;
  }
  .start__left-col {
    width: 100%;
    margin-bottom: 25px;
  }
  .start__center-col {
    width: 100%;
    flex-direction: column;
    padding-right: 34px;
  }
  .start__right-col {
    display: block;
    position: static;
    transform: none;
    width: 100%;
  }
  .video__container {
    width: 100%;
  }
  .start__wrap {
    margin-bottom: 30px;
  }
  .settings__list {
    flex-direction: column;
  }
  .settings .settings__item {
    width: 100%;
    padding-left: 0;
  }
  .create {
    flex-direction: column;
  }
  .create__list {
    flex-direction: column;
  }
  .create__item {
    width: 100%;
  }
  .create__item:nth-of-type(even) {
    padding-left: 0;
  }
  .create__right-col {
    width: 100%;
  }
}