/* Header */
.header.elma-365 {
  background-color: #233255;
}

/* mobile menu */
.sidebar__close.elma-365-close {
  background: url('./close-black.svg') no-repeat center center;
}

/* right menu */
.table-of-contents.elma365-right .tocify-item a {
  color: #0A141E !important;
}
.table-of-contents.elma365-right .tocify-item a:hover {
  color: #0D4A75 !important;
}
.table-of-contents.elma365-right .tocify-item.active a {
  color: #0D4A75 !important;
}

/*-- QUICK BPM --*/

/* Header */
.header.quick {
  background-color: #1E6599;
}

/* right menu */
.table-of-contents.quick-right .tocify-item a {
  color: #0A141E !important;
}
.table-of-contents.quick-right .tocify-item a:hover {
  color: #1E6599 !important;
}
.table-of-contents.quick-right .tocify-item.active a {
  color: #1E6599 !important;
}
